body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #053C6F;
    color: white;
}
.container-header{
    display: flex;
    justify-content: space-between;
}
.container-nav{
    display: flex;
}
h2{
    margin: 25px 20px;
}
img{
    width: 70px;
    height: 70px;
    margin: 5px 10px;
}
/* main*/

.container-main{
    background-color: #ABB2B9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.horizontal-blocks{
    width: 500px;
}
.horizontal-block-1{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}
.input-border-h3{
    width: 90px;
}
.button-block{
    text-align: center;
}